.env
**/*.log
**/__pycache__/
Benchmarks/query_results/
Benchmarks/query_results_redis
Benchmarks/query_results_redis_backup
Benchmarks/output*
utils/query_validation.txt
deprecated/    


/Docs/*
!/Docs/report.tex

redis_results/
